{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}

{% block body %}
    <h1>Books index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Info</th>
                <th>Image</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.Title }}</td>
                <td>{{ book.info }}</td>
                <td>{{ book.Image }}</td>
                <td>{{ book.Date ? book.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('books_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('books_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('books_new') }}">Create new</a>
{% endblock %}
